.sticky {
  height: 90vh;
  position: sticky;
  top: 0;
}

.dn{
  display: none;
}

.img-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-color{
  background-color: #f5f7fa;
}
