/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

.sticky {
  height: 90vh;
  position: sticky;
  top: 0;
}

.p2 {
  padding: 20px;
}

.p3{
  padding: 30px;
}

.dn{
  display: none;
}

.img-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}